<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('chairs.jpeg') %>)">
  <div class="container">
    <h1>MOVIEEEEEEEEZZZZZZ</h1>
    <p>What will you watch in the coming months ?</p>
    <%= link_to new_list_path do%>
      <div class="btn btn-flat">New List</div>
    <%end%>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <%= link_to list_path(list) do%>
      <div class= "card-product">
      <%= cl_image_tag list.photo.key %>
        <div class="card-product-info">
          <h2><%= list.name %></h2>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
