<div class="navbar">
<h1>New List</h1>
</div>

<%= simple_form_for (@list) do |l|%>
<%= l.input :name %>
<%= l.input :photo, as: :file %>
<%= l.submit%>

<%= link_to root_path do%>
<div class="btn btn-flat">Back to List</div>
<%end%>
<% end%>
