
<div class="navbar-lewagon"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <h1>Bookmarks de la Liste <%= @list.name %></h1>
</div>

<%= link_to new_list_bookmark_path(@list) do%>
<div class="btn btn-flat">Add a Bookmark</div>
<%end%>
<%= link_to root_path do%>
<div class="btn btn-flat">Back to List</div>
<%end%>

<div class="container">
  <div class="row">
    <% @list.bookmarks.each do |book| %>
      <div class= "card-product">
        <%= image_tag book.movie.poster_url, width:"200", alt: "moche"%>
        <div class="card-product-info">
          <h2><%= book.movie.title %></h2>
          <p><%= book.movie.overview %></p>
          <p><%= book.movie.rating %></p>
          <p><%= book.comment %></p>
          <%= link_to bookmark_path(book), method: :delete, data: { confirm: "Are you sure?" } do%>
          <i class="fa-regular fa-trash-can"></i>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
