<div class="navbar">
  <h1>Bookmarks#new</h1>
</div>

<%= simple_form_for [@list, @bookmark] do |l|%>
<%= l.input :comment %>
<%= l.association :movie %>
<%= l.submit%>
<% end%>

<%= link_to list_path(@list) do%>
<div class="btn btn-flat">Back to List</div>
<%end%>
